{
  "net_name": "CONVKNRM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/pinfo/weights/knrm.pinfo.weights",
      "save_weights_iters": 10,
      "num_iters": 1000,
      "display_interval": 100,
      "test_weights_iters": 1000,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/pinfo/corpus_preprocessed.txt",
        "text2_corpus": "./data/pinfo/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "./data/pinfo/embed_glove_d300_norm",
        "vocab_size": 19597,
        "train_embed": false,
        "target_mode": "ranking",
        "text1_maxlen": 15,
        "text2_maxlen": 300
    },
    "train": {
        "input_type": "PairGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 16,
        "relation_file": "./data/pinfo/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/pinfo/relation_valid.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/pinfo/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/pinfo/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.conv_knrm_ranking.pinfo.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "conv_knrm.CONVKNRM",
    "setting": {
        "num_filters": 128,
        "kernel_num": 11,
        "sigma": 0.1,
        "exact_sigma": 0.001,
        "max_ngram": 3,
        "if_crossmatch": true
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss",
       "object_params": { "margin": 1.0 }
    }
  ],
  "metrics": [ "recall@1", "recall@3", "recall@5", "ndcg@3", "ndcg@5", "map" ]
}

